
    {% extends 'base.html.twig' %}

    {% block title %}Index{% endblock %}

    {% block body %}
        Index ;)
        <br/>
        <a href="{{ path('new') }}">Go to Form</a>
    {% endblock %}